.selected {
    font-weight: bold;
}
.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
body {
    padding: 10px;
    background-color: #351f1f;
    color: rgba(255,255,255,0.8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.movieList {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
}
.searchboxContainer {
    text-align: center;
}
.searchbox {
    background-color: rgba(255,255,255,.2);
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    text-align: center;
    color: rgba(255,255,255,0.8);
    transition: all .1s ease-in-out;
    margin-top: 40px;
}
.searchbox:focus {
    margin-top: 250px;
    font-size: 22px;
    width: 400px;
    padding: 20px;
    transition: all .1s ease-in-out;
}
.pageNumber {
    margin: 10px;
}
.pageControlContainer {
    text-align: center;
}
.pageControlContainer button {
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    min-width: 60px;
    color: rgba(255,255,255,0.8);
}
.queryStats {
    text-align: center;
    margin: 10px;
    font-size: 12px;
}
.attribution {
    height: 50px;
    margin-left: -60px;
    float: right;
    background-color: rgba(255,255,255,.2);
    padding: 8px;
    border-radius: 8px;
    opacity: .4;
    transition: all .2s ease-out;
}
.attribution:hover {
    transition: all .2s ease-in;
    opacity: 1;
    background-color: rgba(255,255,255,.5);
}