movie {
    min-height: 185px;
    width: 185px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.selectedMovie {
    min-height: 185px;
    width: auto;
    margin: 20px;
    margin-left: 0px;
    display: block;
    overflow: hidden;
    background-color: rgba(120, 120, 120, 0.35);
    color: rgba(255,255,255,0.8);
}
.selectedMovie img {
    float: left;
    margin-right: 20px;
}
.movieInfo {
    padding-left: 20px;
    padding-right: 20px;
}